@keyframes sparks {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes heart {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }
}

.card__like-button {
  transition: fill 0.3s linear;
}

.button:hover::before {
  fill: var(--text-color);
}

.contour,
.main-body,
.core {
  color: var(--text-color);
}

.main-body,
.core,
.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: opacity 0.3s linear;
}

.core {
  transition: opacity 0.3s 0.03s linear;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  transition: opacity 0.3s linear;
  color: var(--text-color);
  opacity: 1;
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
}

.like-icon:active .core,
.like-icon.is-liked .core {
  color: #ff0000;
  opacity: 1;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  --text-color: #ff0000;
  opacity: 1;
  transition: fill 0.3s 0.06s linear;
}

.like-icon:active .main-body,
.like-icon.is-liked .main-body {
  color: #ff0000;
  opacity: 1;
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart-icon {
  transform-origin: 50% 50%;
  animation: heart 0.3s 0.1s ease-in none alternate;
}

.like-icon.is-liked .sparks {
  color: #ff0000;
  animation: sparks 0.3s 0.3s ease-in none alternate;
}
