.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  margin: 0;
  padding: 100px 0;
  color: var(--text-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/* Шапка сайта */
.header {
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.site-header__inner {
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  inline-size: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
  margin-inline: auto;
  display: grid;
  justify-items: center;
  padding: clamp(7.5rem, 7.125rem + 1.5625vw, 8.5rem) 25px;
  gap: 20px;
}

.site-header__logo {
  font-family: var(--additional-font, fantasy);
  font-size: clamp(3.0625rem, 2.6875rem + 1.5625vw, 4.0625rem);
  text-transform: uppercase;
  text-align: center;
}

.site-header__title {
  font-family: var(--additional-font, fantasy);
  font-size: clamp(0.875rem, 0.75rem + 0.78125vw, 1.438rem);
  text-transform: uppercase;
  text-align: center;
}

/* Секция с основным контентом */

.sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.section {
  width: var(--width);
  display: grid;
  gap: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  font-family: var(--site-font, sans-serif);
}

.item-title {
  line-height: normal;
  font-size: 18px;
  font-variation-settings: "wght" 715;
  padding: 6px 10px;
}

/* Блок с картинками */

.item-image-section {
  position: relative;
}

.item-image-content {
  top: 25px;
  right: 25px;
  opacity: 0.5;
  text-shadow: 0 0 1px var(--background-color);
  font-size: 14px;
  position: absolute;
  font-family: var(--additional-font, fantasy);
  font-weight: 400;
  color: var(--text-color);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--background-color)) or
  (text-stroke: 1px var(--background-color)) {
  .item-image-content {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.item-image-container {
  max-height: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
  border-top: 2px solid var(--text-color);
}

.item-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Текстовый блок карточки */

.item-text-section {
  border-top: 2px solid var(--text-color);
  padding: 27px 23px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.item-text {
  line-height: 21px;
  font-family: var(--site-font, sans-serif);
  font-variation-settings: "wght" 410;
  font-size: 18px;
}

/* Секция с кнопками в карточке */

.item__button-section {
  background-color: var(--background-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  border: 0;
  margin: 25px 23px;
  gap: 4px;
}

/* Кнопки */

.button {
  position: relative;
  background: var(--background-color);
  border: 2px solid var(--text-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  transition: box-shadow 0.3s ease;
}

.button:hover::before {
  color: var(--site-text-color);
}

.button::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  width: 0;
  height: 100%;
  background-color: var(--text-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::before {
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--text-color);
}

.button__text {
  font-family: var(--additional-font, fantasy);
  color: var(--site-text-color);
  font-size: 14px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button-text.form-button-text {
  text-transform: uppercase;
}

/* Кнопка лайка в карточке */

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Иконка-лайк*/

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  outline: none;
  height: 38px;
  padding: 0;
  border: 2px solid transparent;
  transition:
    outline 0.3s ease,
    border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

/* Секция с подвалом */

.footer-button {
  margin: 48px auto 0;
  padding: 15px 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
}

.footer-image {
  height: 21px;
  width: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.footer-text {
  font-family: var(--additional-font, fantasy);
  font-weight: var(--font-weight);
  font-size: 14px;
}

.dialog {
  position: fixed;
  border: 2px solid var(--text-color);
  padding: 30px;
  background-color: var(--background-color);
  width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  margin: auto;
}

.svg-icon {
  height: 80px;
  color: var(--background-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}
.icon-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.icon-text {
  color: var(--text-color);
  font-family: var(--additional-font, fantasy);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.dialog-button {
  background: var(--background-color);
  border: 2px solid var(--text-color);
  width: 100%;
  padding: 12.5px clamp(7.15625rem, 6.7601rem + 1.6901vw, 8.28125rem);
  cursor: pointer;
}

.dialog-button-text {
  font-family: var(--additional-font, fantasy);
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  display: flex;
  justify-content: center;
}

@media (width <= 376px) {
  .header {
    margin-bottom: 100px;
  }

  .footer-button {
    flex-direction: column;
  }

  .footer-image {
    width: 28px;
    height: 28px;
  }
}
