
:root {
    --background-image:repeating-linear-gradient(
      to left,
      var(--gradient-color-one) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      var(--gradient-color-one) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      var(--gradient-color-two) 0.01%,
      var(--gradient-color-three)
    );
    --gradient-color-one: #d3d3d3;
    --gradient-color-two: #e7e7e7;
    --gradient-color-three: #1a1a1a;
    --site-font: 'Inter-Variable';
    --additional-font: 'PressStart2P';
    --one-font-weight: 400;
    --two-font-weight: 700;
    --width: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
    --background-color: #FFF;
    --text-color: #000;
    --site-text-color: #fff;
    --site-background-color: #fff;
    --core-color: #ff0000;
}


